body {   font-family: Arial, sans-serif;
    background-color: #eeaf9a;
    text-align: center;
}

.container {
    margin-top: 60px;
}

form {
    background-color: rgb(232, 225, 127);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 100px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #d7d7cf;
    border-radius: 5px;
}

input[type="button"] {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #d760b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #dd8dc6;
}

#kq {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
}
.product-item{
    background:rgb(242, 181, 181);
    border-radius:10px;
    padding: 15px;
    transition:0.3s;
    box-shadow: 0 4px 6px rgb(0,0,0,0.05);
}
.product-item:hover {
    transform: translateY(-5px);
}
.product-image {
    width:100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeaaaa; 
    border-radius: 6px;
}
.product-image img {
    width: 100%;
    height:100%;
    object-fit: cover;
}
.product-info {
     margin-top: 10px;
}
.product-info p:first-child {
    color:red;
    font-weight: bold;

}
.product-info p:nth-child(2){
    color:#e91e63;
}
.product-info a{
    display:inline-block;
    margin-top: 5px;
    text-decoration: none;
}